{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account_styles.css' %}">
{% endblock %}

{% block content %}
<div class="account-login-page">
<div class="account-login-card">
    <div class="login-title">
        System Login
    </div>

    {% if form.errors %}
        <div class="error-box">
            Invalid username or password.
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label class="form-label" for="id_username">Username</label>
            <input type="text"
                   name="username"
                   id="id_username"
                   class="form-input"
                   required
                   autofocus>
        </div>

        <div class="form-group">
            <label class="form-label" for="id_password">Password</label>
            <input type="password"
                   name="password"
                   id="id_password"
                   class="form-input"
                   required>
        </div>

        <button type="submit" class="btn-login">
            Login
        </button>

        <input type="hidden" name="next" value="{{ next }}">

    </form>

    <div class="extra-links">
        <a href="">
            
        </a>
    </div>

</div>
</div>

{% endblock %}
