{% extends 'base.html' %}
{% load static %}

{% block title %} Equipment List {% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/equipment_styles.css' %}">

<div class="container">

    <h5>Filter Pane</h5>

    {% include "equipment/equipment_list/_filters.html" %}



    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">
            Equipment List
            <span style="font-weight: normal;">( {{ total_equipments }} Objects )</span>
        </h1>

        <a href="{% url 'equipment:equipment_export_csv' %}?{{ request.GET.urlencode }}"
        class="btn btn-success">
            Download CSV
        </a>
    </div>



    {% if equipments %}
        {% include "equipment/equipment_list/_table.html" %}
        {% include "equipment/common/_pagination.html" %}
    {% else %}
        <p>No equipment found.</p>
    {% endif %}

</div>

<script>
window.addEventListener("beforeunload", function () {
    localStorage.setItem("scrollPosEquipments", window.scrollY);
});

window.addEventListener("load", function () {
    const pos = localStorage.getItem("scrollPosEquipments");
    if (pos !== null) {
        window.scrollTo(0, parseInt(pos));
    }
});
</script>

{% endblock %}
