{% extends 'base.html' %}
{% load static %}

{% block title %} Location Tag List {% endblock %}


{% block content %}

<link rel="stylesheet" href="{% static 'css/equipment_styles.css' %}">

<div class="container">

    <h5>
        Filter Pane
    </h5>

    {% include "equipment/location_tag_list/_filters.html" %}

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="mb-0">
            Location Tags
            <span style="font-weight: normal;">( {{ total_location_tags }} Objects )</span>
        </h1>

        <a href="{% url 'equipment:location_tag_export_csv' %}?{{ request.GET.urlencode }}"
        class="btn btn-success">
            Download CSV
        </a>
    </div>

    {% if location_tags %}
        {% include "equipment/location_tag_list/_table.html" %}
        {% include "equipment/common/_pagination.html" %}
    {% else %}
        <p>No location tags found.</p>
    {% endif %}



</div>

<script>
// Save scroll location before navigating away
window.addEventListener("beforeunload", function () {
    localStorage.setItem("scrollPosLocTags", window.scrollY);
});

// Restore scroll location after reload
window.addEventListener("load", function () {
    const pos = localStorage.getItem("scrollPosLocTags");
    if (pos !== null) {
        window.scrollTo(0, parseInt(pos));
    }
});
</script>

{% endblock %}
