{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/equipment_styles.css' %}">

<div class="container">

    <h5>
        Filter Pane
    </h5>

    {% include "equipment/location_tag_list/_filters.html" %}

    <h1>
        Location Tags
        <span style="font-weight: normal;">( {{ total_location_tags }} Objects )</span>
    </h1>

    {% if location_tags %}
        {% include "equipment/location_tag_list/_table.html" %}
        {% include "equipment/location_tag_list/_pagination.html" %}
    {% else %}
        <p>No location tags found.</p>
    {% endif %}

</div>

{% endblock %}
