{% load static %}
{% load top_bar %}
{% load sidebar %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CMMS{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    {% block extra_css %}{% endblock %}
    <link rel="stylesheet" href="{% static 'css/core/app-shell.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/layouts/top-bar.css' %}">
</head>
<body>

    {# RENDER SIDEBAR USING THE INCLUSION TAG #}
    {% render_sidebar %}

    <!-- PAGE CONTENT WRAPPER -->
    <div class="page-wrapper">
        
        {# This renders your application's actual top bar with dates/user info #}
        {% top_bar %} 
        
        {# This is where the content of your individual pages goes #}
        <div class="content">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <script src="{% static 'js/table-sort.js' %}"></script>
    <script src="{% static 'js/layout/sidebar.js' %}"></script>
    <script src="{% static 'js/layout/top-bar.js' %}"></script>


    {% block extra_js %}{% endblock %}


</body>
</html>
