{% if sort_mode == "order" %}
    <th
        {% if sort_by == column %}class="sorted"{% endif %}
        onclick="window.location.href='?sort={{ column }}&order={% if sort_by == column and sort_order == 'asc' %}desc{% else %}asc{% endif %}{% if sort_params %}&{{ sort_params }}{% endif %}'">
        {{ label }}
        <span class="sort-arrow">
            {% if sort_by == column %}
                {% if sort_order == "asc" %}▲{% else %}▼{% endif %}
            {% endif %}
        </span>
    </th>
{% else %}
    {% with asc=column desc="-"|add:column %}
        {% if sort_by == asc %}
            <th class="sorted"
                onclick="window.location.href='?sort={{ desc }}{% if query_params %}&{{ query_params }}{% endif %}'">
                {{ label }}
                <span class="sort-arrow asc"></span>
            </th>
        {% elif sort_by == desc %}
            <th class="sorted"
                onclick="window.location.href='?sort={{ asc }}{% if query_params %}&{{ query_params }}{% endif %}'">
                {{ label }}
                <span class="sort-arrow desc"></span>
            </th>
        {% else %}
            <th onclick="window.location.href='?sort={{ asc }}{% if query_params %}&{{ query_params }}{% endif %}'">
                {{ label }}
                <span class="sort-arrow"></span>
            </th>
        {% endif %}
    {% endwith %}
{% endif %}
